@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400&family=Roboto:wght@100;300;400&family=Shrikhand&display=swap');



body {
    background-color: none;
    color: #fff;
    font-family: "Roboto", 'sans-serif';
    font-weight: 300;
    box-sizing: border-box;
}

.site-title {
    text-shadow: #65A4BA 5px 0 5px;
    font-family: "Shrikhand", "Barlow";
    font-weight: 400;
    letter-spacing: .10rem;
}

.site-title:hover {
    text-shadow: #FC0 2px 0 10px;
    cursor:default;
    transition: all .5s ease;
}

.carousel {
    max-width: 70vw;
}

.bandcamp {
    width: 350px;
    height: 720px;
    box-shadow: #65A4BA 6px 0 10px;
    border-radius: 12px;
}

.menu-image {
    box-shadow: #65A4BA 2px 0 10px;
  }

  
.item-name {
    cursor: default;
    border: none;
  }
  
.item-name:hover {
    
    text-shadow: #FC0 2px 0 10px;
    cursor:default;
    transition: all .5s ease;
  }
    
.index-page {
    background-image: url("../../static/brian.jpeg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



@media (max-width: 1000px) {
   .nav-div {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
   }

   .menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
   }

   .site-title {
    text-shadow: #65A4BA 2px 0 10px;   
}

.site-title:hover {
    text-shadow: #FC0 2px 0 10px;
    cursor:default;
    border: none;
}

.ichtus-logo {
    min-width: 100px;
}

.map {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 60vh;
    
}

  }
  


